*{
	padding:0;margin:0;
}
img{
	border:none;
}
.header{
	width:960px;
	margin: 0 auto;
	overflow:hidden;
}
.logo{
	
	color:#538bc5;
	font-size:250%;
	float:left;
}
.contact-header{
	
	color:#538bc5;
	font-size:250%;
	float:right;
}
.menu{
	width:960px;
	margin: 0 auto;
	overflow:hidden;
	background-color:#538bc5;
	margin-top:10px;
}
.menu li {
	text-decoration:none;
	float:left;
	list-style-type:none;
}
.menu li a {
	text-decoration:none;
	color:#fff;
	font-size:140%;
	display:block;
	padding:15px 15px;
}
.menu li a:hover{
	background-color:#375c84;
}
.content{
	width:960px;
	margin: 0 auto;
	overflow:hidden;
}

	.articlew{
		width:960px;
		overflow:hidden;
		margin:15px 0;
		height:268px;
		display:table;
		text-align:center;
	}
		.articlew img{
			float:left;
			border:7px solid #538bc5;
			margin:7px;
		}
		.articlew p{
			width:600px;
			color:#538bc5;
			font-size:250%;
			display:table-cell;
			vertical-align:middle;
		}
	.articleb{
		width:960px;
		background-color:#538bc5;
		overflow:hidden;
		margin:15px 0;
		height:268px;
		display:table;
		text-align:center;
	}
		.articleb img{
			float:left;
			border:7px solid #fff;
			margin:7px;
		}
		.articleb p{
			width:600px;
			color:#fff;
			font-size:250%;
			display:table-cell;
			vertical-align:middle;
		}
	.footer{
		width:960px; margin: 0 auto;
	}	
		.footer p{
			display:table;  margin: 0 auto;
		}
.contacts{
	width:960px;
	margin: 25px auto;
}
	.contacts .text{
		color:#538bc5;
		font-size:120%;
		line-height:1.5;
	}
.karta{
	width:960px;
	margin: 0 auto;
}